html, body {
  width: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

#mainRow {
  height: 100%;
}

.row {
  margin: 0;
}

#mainCol {
  height: 100%;
}

.col {
  padding: 0;
}

/*Header Section*/

.header {
  height: 50vh;
  width: auto;
  background: url(img/sculpture_falls.jpg) no-repeat;
  background-size: cover;
  background-attachment: local;
}

.header h1 {
  text-align: center;
  font-family: 'Crimson Text', serif;
  color: rgb(255, 255, 255);
  font-size: 8vw;
  margin-top: 4%;
}

.header p {
  text-align: center;
  font-family: 'Crimson Text', serif;
  color: rgb(255, 255, 255, 0.8);
  font-size: 4vw;
  margin-top: -2%;
}

/*About Me Section*/

.aboutMe {
  height: auto;
  background: url(img/greytex.png) no-repeat;
  background-size: cover;
}

.aboutMe img {
  float: left;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 50%;
  width: 33.3333%;
}

.aboutMe p {
  font-size: 16px;
  color: white;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

/*Website Icons*/

.aboutMe a {
  font-size: 15vw;
  margin-left: 10vw;
}

i {
  display: block;
  color: white;
}

i:hover:not(.active) {
  color: rgb(67, 77, 87);
}

.active {
  color: rgb(67, 77, 87);
}

/*Portfolio*/

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: rgb(67, 77, 87);
}

#project:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 16px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Contact*/

.contact {
  height: auto;
  text-align: center;
  background: url(img/greytex.png) no-repeat;
  background-size: cover;
}

.contact p {
  color: white;
  font-size: 16px;
}

.contact a {
  font-size: 15vw;
}
