  * {
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
  }

  body {
    font-family: Candara;
    margin: 0;
    line-height: 1.6;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
  }

  .body header, section {
    width: 100%;
    text-align: center;
  }

  /*Header*/

  header {
    font-family: "Goudy Old Style";
    background: url(img/sculpture_falls.jpg) no-repeat top center;
    height: 50%;
    background-size: cover;
    background-attachment: local;
  }

  header h1 {
    font-size: 9vw;
    color: white;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  header p {
    font-size: 5vw;
    font-weight: 800;
    color: white;
    margin-top: -10px;
  }

  /*About Me Section*/

  .about-me {
    height: 75%;
    background-color: rgb(94, 94, 94);
  }

  .about-me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    border: 1px solid white;
    border-radius: 4vw;
    padding: 1vw;
    width: 30vw;
  }

  .about-me h2 {
    font-size: 5vw;
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .about-me hr {
    max-width: 20vw;
    border-width: 1px;
    opacity: 0.5;
    border-color: white;
    margin-top: 0px;
  }

  .about-me p {
    font-size: 16px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*Website Icons*/

  .about-me a {
    font-size: 10vw;
    padding: 10vw;
  }

  i {
    display: block;
    color: white;
  }

  i:hover:not(.active) {
    color: rgb(67, 77, 87);
  }

  .active {
    color: rgb(67, 77, 87);
  }

  /*Portfolio*/

  .portfolio-section {
    width: 200%;
  }

  .portfolio {
    position: relative;
    width: 50%;
  }

  .image {
    display: block;
    width: 200%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 200%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(67, 77, 87);
  }

  .portfolio:hover .overlay {
    opacity: 0.5;
  }

  .text {
    color: white;
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*Contact*/

  .contact {
    height: 15%;
  }

  .contact h2 {
    font-size: 5vw;
    color: rgb(67, 77, 87);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .contact hr {
    max-width: 20vw;
    border-width: 1px;
    opacity: 0.5;
    border-color: rgb(67, 77, 87);
    margin-top: 0px;
  }

  .contact p {
    font-size: 16px;
    font-weight: 800;
    color: rgb(67, 77, 87);
    margin-top: 0px;
  }

  .contact a {
    font-size: 10vw;
  }

  .contact i {
    display: block;
    color: rgb(67, 77, 87);
  }

  .contact i:hover:not(.active) {
    color: rgb(94, 94, 94);
  }

  .active {
    color: rgb(94, 94, 94);
  }
