@media only screen and (max-width: 599px) {

  /*Navigation*/

  .header a {
    display: none;
  }

}

@media only screen and (min-width: 600px) {

  /*Navigation*/

  .navLeft {
    font-size: 24px;
    color: white;
    float: left;
    padding-top: 4%;
    padding-left: 6%;
  }

  .navRight {
    color: white;
    float: right;
    padding-top: 4%;
    padding-right: 4%;
  }

  .header a:hover:not(.active) {
    color: rgb(67, 77, 87);
    text-decoration: none;
  }

  .active {
    color: rgb(67, 77, 87);
    text-decoration: none;
  }

  /*Header Section*/

  .header {
    height: 100vh;
  }

  .header p {
    font-size: 3vw;
  }

  /*About Me Section*/

  .about-me {
    display: none;
  }

  #about-me {
    animation: pulse;
    animation-duration: 0.8s;
  }

  #about-me .modal-content {
    width: 90%;
    background-color: #00000000;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .about-meM {
    height: auto;
    text-align: left;
    background: url(img/greytex.png) no-repeat;
    background-size: cover;
  }

  .about-meM img {
    float: left;
    opacity: 0.95;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 15%;
    width: 20vw;
  }

  .about-meM p {
    font-size: 16px;
    color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }

  /*Portfolio*/

  .portfolio {
    display: none;
  }

  #portfolio {
    animation: pulse;
    animation-duration: 0.8s;
  }

  #portfolio .modal-content {
    width: 90%;
    background-color: #00000000;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #portfolio img {
    padding-left: 2%;
    padding-right: 2%;
  }

  #portfolio .overlay {
    width: 96.3%;
    margin-left: 1.8%;
    opacity: 0;
    transition: 0.8s;
  }

  #portfolio .text {
    padding-left: 2%;
    padding-right: 2%;
  }

  .image {
    transition: 0.8s;
  }

  #project:hover .image {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  #project:hover .overlay {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  /*Contact*/

  .contact {
    display: none;
  }

  #contact {
    animation: pulse;
    animation-duration: 0.8s;
  }

  #contact .modal-content {
    width: 50%;
    background-color: #00000000;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contactM {
    height: auto;
    text-align: center;
    background: url(img/greytex.png) no-repeat;
    background-size: cover;
  }

  .contactM p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2%;
  }

  .contactM a {
    font-size: 10vw;
  }

  @keyframes pulse {
    from {
      opacity: 0;
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

}

@media only screen and (min-width: 900px) {



}
