@media only screen and (max-width: 599px) {

  /*Navigation*/

  .header a {
    display: none;
  }

}

@media only screen and (min-width: 600px) {

  /*Navigation*/

  .navLeft {
    font-size: 24px;
    color: white;
    float: left;
    padding-top: 4%;
    padding-left: 6%;
    animation: fade;
    animation-duration: 3s;
  }

  .navRight {
    color: white;
    float: right;
    padding-top: 4%;
    padding-right: 4%;
    animation: fade;
    animation-duration: 3s;
  }

  .header a:hover:not(.active) {
    color: rgb(67, 77, 87);
    text-decoration: none;
  }

  .active {
    color: rgb(67, 77, 87);
    text-decoration: none;
  }

  /*Header Section*/

  .clear {
    display: none;
  }

  .header {
    height: 100vh;
  }

  h1 {
    animation: fade;
    animation-duration: 3s;
  }

  .header p {
    font-size: 3vw;
    animation: fade;
    animation-duration: 3s;
  }

  /*About Me Section*/

  .aboutMe {
    display: none;
  }

  #aboutMe {
    animation: pulse;
    animation-duration: 0.8s;
  }

  #aboutMe .modal-content {
    width: 90%;
    background-color: rgb(170, 175, 190);
    background-color: rgba(170, 175, 190, 0.1);
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .aboutMeModalSection {
    height: auto;
    text-align: left;
    background: #a0acbc80;
    background-size: cover;
  }

  .aboutMeModalSection img {
    float: left;
    opacity: 0.95;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 15%;
    width: 20vw;
  }

  .aboutMeModalSection p {
    font-size: 16px;
    color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }

  /*Portfolio*/

  .portfolio {
    display: none;
  }

  #portfolio {
    animation: pulse;
    animation-duration: 0.8s;
  }

  #portfolio .modal-content {
    width: 90%;
    background-color: #00000000;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #portfolio img {
    padding-left: 2%;
    padding-right: 2%;
  }

  #portfolio .overlay {
    width: 96.3%;
    margin-left: 1.8%;
    opacity: 0;
    transition: 0.8s;
    background-color: rgb(67, 77, 87);
  }

  #portfolio .text {
    font-size: 1.2vw;
    text-shadow: none;
    padding-left: 2%;
    padding-right: 2%;
  }

  .image {
    transition: 0.8s;
  }

  #project:hover .image {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  #project:hover .overlay {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  /*Contact*/

  .contact {
    display: none;
  }

  #contact {
    animation: pulse;
    animation-duration: 0.8s;
  }

  #contact .modal-content {
    width: 50%;
    background-color: rgb(170, 175, 190);
    background-color: rgba(170, 175, 190, 0.1);
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contactModalSection {
    height: auto;
    text-align: center;
    background: #a0acbc80;
    background-size: cover;
  }

  .contactModalSection p {
    color: white;
    font-size: 16px;
    padding-top: 2%;
  }

  .contactModalSection a {
    font-size: 36px;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes pulse {
    from {
      opacity: 0;
      transform: scale3d(0.95, 0.95, 0.95);
    }
    10% {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

}

@media only screen and (min-width: 900px) {



}
